/* ------------------- common ------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding-inline-start: 0;
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  font-weight: 200;
}

.container {
  max-width: 945px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    max-width: none;
    width: 100%;
  }
}

/* ------------------- main-area ------------------- */
.main-area {
  background-image: url('../img/main-bg-img.jpg');
  background-size: cover;
  img {
    width: 100%;
  }
}

/* ------------------- reason-area ------------------- */
.reason-area {
  padding: 20px 0;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.reason-area__title {
  padding-bottom: 20px;
  margin-bottom: 24px;
  text-align: center;
  font-size: 40px;
  color: skyblue;
  span {
    padding-bottom: 20px;
    border-bottom: 5px solid skyblue;
  }
}

.reason-area__link {
  &:hover {
    opacity: .7;
  }
}

.reason-area__item {
  position: relative;
  margin-bottom: 100px;
}

.reason-area__item-img {
  position: absolute;
  width: 50%;
}

.reason-area__item-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px 10px 0;
}

.reason-area__item-text {
  width: 45%;
  margin: 20px 0;
  font-size: 18px;
}

.reason-area__item-link {
  &:hover {
    opacity: .7;
  }
}

.reason-area__item:nth-of-type(even) {
  .reason-area__item-img {
    right: 0;
  }
  .reason-area__item-box {
    align-items: flex-start;
  }
}

.reason-area__item:nth-of-type(3) {
  margin-bottom: 120px;

  .reason-area__item-link {
    display: none;
  }
}

.reason-area__item:last-of-type {
  .reason-area__item-link {
    display: none;
  }
}

@media (max-width: 480px) {
  .reason-area {
    margin-top: -10px;
    padding: 0;
  }

  .reason-area__title {
    background: #3B82C5;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    span {
      border: none;
    }
  }

  .reason-area__link {
    margin-bottom: 20px;
  }

  .reason-area__item {
    margin-bottom: 20px;
    padding-right: 0;
  }

  .reason-area__item-title {
    position: relative;
    font-size: 16px;
  }

  .reason-area__item-box {
    padding: 37% 10px 0;
  }

  .reason-area__item-img {
    width: 80%;
  }

  .reason-area__item-text {
    width: 100%;
  }

  .reason-area__item-link {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .reason-area__item:last-of-type {
    .reason-area__item-title {
      transform: scale(.7);
      margin-left: -50px;
    }
  }
}

/* ------------------- contact-area ------------------- */
.contact-area {
  background: #EFEFEF;
  padding: 20px 0;
}

.contact-area__title {
  padding-bottom: 20px;
  margin-bottom: 24px;
  text-align: center;
  font-size: 40px;
  color: skyblue;
  span {
    padding-bottom: 20px;
    border-bottom: 5px solid skyblue;
  }
}

.contact-area__list {
  display: flex;
  justify-content: center;
}

.contact-area__item {
  width: 298px;
  margin: 0 20px;
  box-shadow: 0px 0px 5px 0px rgba(89,87,87,0.75);
  &:hover {
    opacity: .7;
  }
  &:last-of-type {
    .contact-area__item-title {
      background: #eb6100;
    }
  }
}

.contact-area__item-title {
  background: #E60011;
  padding: 18px 0;
  color: #fff;
  text-align: center;
}

.contact-area__item-text-box {
  height: 233px;
  background: #fff;
  padding: 15px;
  line-height: 1.8;
  text-align: center;
} 

.contact-area__item-text {
  text-align-last: left;
  color: #000
}

.contact-area__item-dial {
  display: inline-block;
  border: 1px solid #000;
  font-size: 14px;
  font-weight: 200;
  margin: 7px 0;
  padding: 2px 6px;
  color: #000;
}

.contact-area__item-tel {
  display: block;
  color: red;
  font-size: 24px;
  font-weight: bold;
}

.contact-area__item-reception {
  font-size: 12px;
  font-weight: 200;
  color: #000;
}

.contact-area__item {
  &:last-of-type {
    .contact-area__item-title {
      background: #eb6100;
    }
  }
}

@media (max-width: 480px) {
  .contact-area {
    padding: 0;
  }

  .contact-area__title {
    background: #3B82C5;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    span {
      border: none;
    }
  }

  .contact-area__list {
    flex-direction: column;
    align-items: center;
  }

  .contact-area__item {
    width: auto;
    margin-bottom: 20px;
  }
}

/* ------------------- merit-area ------------------- */
.merit-area {
  padding: 20px 0;
}

.merit-area__title {
  padding-bottom: 20px;
  margin-bottom: 24px;
  text-align: center;
  font-size: 40px;
  color: skyblue;
  span {
    padding-bottom: 20px;
    border-bottom: 5px solid skyblue;
  }
}

.merit-area__text {
  margin: 10px;
  line-height: 1.8;
}

.merit-area__note {
  width: 94%;
  margin: 50px auto 20px;
  padding: 10px 10px 10px 40px;
  box-shadow: 0 0 0 1px #231815, 0 0 0 9px #FFF, 0 0 0 10px #231815;
  line-height: 1.8;
  &::before {
    content: '※';
    margin-left: -23px;
  }
}

@media (max-width: 480px) {
  .merit-area {
    padding: 0;
    .container {
      padding: 0 10px;
    }
  }
  
  .merit-area__title {
    background: #3B82C5;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    span {
      border: none;
    }
  }

  .merit-area__note {
    margin-bottom: 40px;
    padding: 10px;
    text-align: center;
    &::before {
      display: none;
    }
  }
}

/* ------------------- mind-area ------------------- */
.mind-area {
  background-image: url(../img/mind-area__bg-img.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px 0;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.mind-area__title {
  padding-bottom: 20px;
  margin-bottom: 24px;
  text-align: center;
  font-size: 40px;
  color: skyblue;
  span {
    padding-bottom: 20px;
    border-bottom: 5px solid skyblue;
  }
}

.mind-area__text-box {
  line-height: 1.8;
  margin-bottom: 60px;
  padding: 0 10px;
}

.mind-area__link {
  &:hover {
    opacity: .7;
  }
}

@media (max-width: 480px) {
  .mind-area {
    padding: 0 0 20px;
    background: none;
  }
  
  .mind-area__title {
    background: #3B82C5;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    span {
      border: none;
    }
  }

  .mind-area__text-box {
    margin-bottom: 20px;
  }
}